# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment variables
.env

# Node
node_modules/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# LangSmith
.langgraph_api/

# Build
dist/
build/

# Cache
.cache/

notebooks/
data/

graph.html
supply_chain.db-shm
supply_chain.db-wal
supply_chain.db


