langchain
langchain-openai
langchain-groq
langchain-google-genai
pydantic
python-dotenv
jupyterlab
ipykernel
pandas
numpy
matplotlib
langchain-core
langchain-community
langchain-neo4j
neo4j
pyvis
networkx
langgraph
langsmith
psycopg_pool
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
